<!-- admin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h2>Admin Dashboard</h2>

<div class="container">
    <div class="button-container">
        <form action="/books">
            <button type="submit">BOOKS</button>
        </form>
        <form action="/authors">
            <button type="submit">AUTHORS</button>
        </form>
    </div>
</div>

</body>
</html>
